<tr>
	<td><%= scorecard.name %></td>
	<td><%= scorecard.total_games %></td>
	<td><%= scorecard.games_won %></td>
	<td><%= scorecard.games_lost %></td>
	<td><%= "%05.2f" % scorecard.pct_won %>%</td>
</tr>