<div class="center hero-unit">
  <h2>Can you beat the computer?</h2>
  <h3 id="notification"><%=@notification%></h3>

  <div id="box_center" class="btn-group btn-group-vertical">
	<% @representation.keys.each_slice(3) do |moves| %>
	<div id="button" class="btn-group">
		<% moves.each do |move| %>
		<%= link_to @representation[move], human_move_path(move: move), 
			      class: "btn btn-large move_button remote", id: "move#{move}",
				  remote: true %>
		<% end %>
    </div>
	<% end %>
  </div>

  <%= link_to "New Game", new_computer_game_path, class: "btn btn-success remote", 
              id: "new_game", :disable_with => "待って下さい", remote: true %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<%= image_tag "328a.gif", id: "spinner" %>
